@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Moniqa;
  font-display: swap;
  src: url("../fonts/Moniqa-NarrowParagraph-Medium.woff2") format("woff2"), url("../fonts/Moniqa-NarrowParagraph-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Moniqa;
  font-display: swap;
  src: url("../fonts/Moniqa-NarrowParagraph-Regular.woff2") format("woff2"), url("../fonts/Moniqa-NarrowParagraph-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Moniqa;
  font-display: swap;
  src: url("../fonts/Moniqa-NarrowParagraph-Bold.woff2") format("woff2"), url("../fonts/Moniqa-NarrowParagraph-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  line-height: 1;
}

html {
  font-size: 10px;
}

body {
  background-color: #000000;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  z-index: 9999;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

.preloader.hidden {
  opacity: 0;
}

.preloader-icon__top {
  -webkit-animation: topStone 1s ease-in-out alternate;
          animation: topStone 1s ease-in-out alternate;
}

.preloader-icon__right {
  -webkit-animation: rightStone 1s ease-in-out 1s alternate;
          animation: rightStone 1s ease-in-out 1s alternate;
}

.preloader-icon__left {
  -webkit-animation: leftStone 1s ease-in-out 2s alternate;
          animation: leftStone 1s ease-in-out 2s alternate;
}

@-webkit-keyframes leftStone {
  from {
    opacity: 0;
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes leftStone {
  from {
    opacity: 0;
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes rightStone {
  from {
    opacity: 0;
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes rightStone {
  from {
    opacity: 0;
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@-webkit-keyframes topStone {
  from {
    opacity: 0;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes topStone {
  from {
    opacity: 0;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

main {
  overflow: hidden;
  max-height: 100svh;
  max-width: 100svw;
}

main::-webkit-scrollbar {
  display: none;
}

main.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  width: 144rem;
  max-width: 100%;
  padding: 0 6rem;
  margin: 0 auto;
}

.display-text {
  font-family: Moniqa;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.display-text-1 {
  font-size: 12rem;
  letter-spacing: 3.6rem;
  margin-right: -3.6rem;
}

.display-text-2 {
  font-weight: 500;
  font-size: 6.4rem;
  letter-spacing: 1.536rem;
  margin-right: -1.536rem;
}

.display-text-3 {
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 0.512rem;
  margin-right: -0.512rem;
}

.header-text {
  font-family: Gilroy;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-text-1 {
  font-size: 5.6rem;
  line-height: 128.571%;
  letter-spacing: 0.112rem;
  margin-right: -0.112rem;
}

.header-text-2 {
  font-size: 4.8rem;
  line-height: 129.167%;
  letter-spacing: 0.096rem;
  margin-right: -0.096rem;
}

.header-text-3 {
  font-size: 3.2rem;
  line-height: 125%;
  letter-spacing: 0.064rem;
  margin-right: -0.064rem;
}

.header-text-4 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.048rem;
  margin-right: -0.048rem;
}

.header-text-5 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 0.048rem;
  text-transform: none;
  margin-right: -0.048rem;
}

.header-text-6 {
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.04rem;
  text-transform: none;
  margin-right: -0.04rem;
}

.subtitle-text {
  font-family: Gilroy;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.subtitle-text-1 {
  font-size: 2.2rem;
  line-height: 145.455%;
  letter-spacing: 0.044rem;
  margin-right: -0.044rem;
}

.subtitle-text-2 {
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.04rem;
  margin-right: -0.04rem;
}

.input-item > input::-webkit-input-placeholder, .input-item > textarea::-webkit-input-placeholder {
  font-family: Gilroy;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.input-item > input::-moz-placeholder, .input-item > textarea::-moz-placeholder {
  font-family: Gilroy;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.input-item > input:-ms-input-placeholder, .input-item > textarea:-ms-input-placeholder {
  font-family: Gilroy;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.input-item > input::-ms-input-placeholder, .input-item > textarea::-ms-input-placeholder {
  font-family: Gilroy;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.body-text,
.input-item > input::placeholder,
.input-item > textarea::placeholder,
.input-item > input,
.input-item > textarea {
  font-family: Gilroy;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.body-text-1 {
  font-size: 2.2rem;
  line-height: 145.455%;
  letter-spacing: 0.044rem;
  margin-right: -0.044rem;
}

.input-item > input::-webkit-input-placeholder, .input-item > textarea::-webkit-input-placeholder {
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.04rem;
  margin-right: -0.04rem;
}

.input-item > input::-moz-placeholder, .input-item > textarea::-moz-placeholder {
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.04rem;
  margin-right: -0.04rem;
}

.input-item > input:-ms-input-placeholder, .input-item > textarea:-ms-input-placeholder {
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.04rem;
  margin-right: -0.04rem;
}

.input-item > input::-ms-input-placeholder, .input-item > textarea::-ms-input-placeholder {
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.04rem;
  margin-right: -0.04rem;
}

.body-text-2,
.input-item > input::placeholder,
.input-item > textarea::placeholder,
.input-item > input,
.input-item > textarea {
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.04rem;
  margin-right: -0.04rem;
}

.body-text-3 {
  font-size: 1.8rem;
  line-height: 144.444%;
  letter-spacing: 0.036rem;
  margin-right: -0.036rem;
}

.body-text-4 {
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.032rem;
  margin-right: -0.032rem;
}

.body-text-5 {
  font-size: 1.4rem;
  line-height: 142.857%;
  letter-spacing: 0.028rem;
  margin-right: -0.028rem;
}

.caption-text {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.overline-text,
.input-item__top > label,
.nav-button__value > span {
  font-family: Gilroy;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.overline-text-1 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.32rem;
  margin-right: -0.32rem;
}

.overline-text-2 {
  font-size: 1.4rem;
  line-height: 142.857%;
  letter-spacing: 0.14rem;
  margin-right: -0.14rem;
}

.overline-text-3,
.input-item__top > label,
.nav-button__value > span {
  font-size: 1.2rem;
  line-height: 133.333%;
  letter-spacing: 0.12rem;
  margin-right: -0.12rem;
}

.overline-text-4 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: 0.1rem;
  margin-right: -0.1rem;
}

.condensed-text {
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.condensed-text-1 {
  font-size: 2.8rem;
  line-height: 128.571%;
  letter-spacing: 0.14rem;
  margin-right: -0.14rem;
}

.condensed-text-2 {
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.08rem;
  margin-right: -0.08rem;
}

.condensed-text-3 {
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  margin-right: -0.08rem;
}

.condensed-text-4 {
  font-size: 1.4rem;
  line-height: 142.857%;
  letter-spacing: 0.14rem;
  margin-right: -0.14rem;
}

.condensed-text-5 {
  font-size: 1.2rem;
  line-height: 133.333%;
  letter-spacing: 0.12rem;
  margin-right: -0.12rem;
}

.condensed-text-6 {
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: 0.1rem;
  margin-right: -0.1rem;
}

.button-text,
.link-button > span,
.button > span {
  font-family: Gilroy;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.button-text-1,
.link-button--large > span,
.button--large > span {
  font-size: 1.6rem;
  line-height: 137.5%;
  letter-spacing: 0.32rem;
  margin-right: -0.32rem;
}

.button-text-2,
.link-button--medium > span,
.button--medium > span {
  font-size: 1.4rem;
  line-height: 128.571%;
  letter-spacing: 0.28rem;
  margin-right: -0.28rem;
}

.button-text-3,
.link-button--small > span,
.button--small > span {
  font-size: 1.2rem;
  line-height: 133.333%;
  letter-spacing: 0.24rem;
  margin-right: -0.24rem;
}

.ui-kit {
  padding: 50px;
  background-color: #ffffff;
  height: 100vh;
}

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.slider-button::after {
  content: "";
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  -webkit-mask-image: url(../img/slider-arrow-icon.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: #FF6E00;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
}

.slider-button:hover::after {
  background-color: #ffffff;
}

.slider-button:disabled {
  cursor: not-allowed;
}

.slider-button:disabled::after {
  background-color: rgba(239, 239, 239, 0.6);
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #000000;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s border;
  -o-transition: 0.3s border;
  transition: 0.3s border;
}

.close-button::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask-image: url(../img/close-cross-icon.svg);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: #FF6E00;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
}

.close-button:hover {
  border: 0.1rem solid #FF6E00;
}

.close-button:hover::after {
  background-color: #ffffff;
}

.close-button:disabled {
  cursor: not-allowed;
}

.close-button:disabled::after {
  background-color: rgba(239, 239, 239, 0.6);
}

.nav-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid #FF6E00;
  cursor: pointer;
  -webkit-transition: 0.3s border;
  -o-transition: 0.3s border;
  transition: 0.3s border;
}

.nav-button:hover {
  border-color: #ffffff;
}

.nav-button__icon {
  width: 1.6rem;
}

.nav-button__value {
  position: absolute;
  right: -0.2rem;
  top: -0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #FF6E00;
  z-index: 1;
}

.nav-button__value > span {
  color: #000000;
}

.favorite-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorite-button::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask-image: url(../img/favorite-outline-icon.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: rgba(239, 239, 239, 0.4);
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
}

.favorite-button:hover::after {
  background-color: #ffffff;
}

.favorite-button.favorite-button__active::after {
  -webkit-mask-image: url(../img/favorite-icon.svg);
  background-color: #FF6E00;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8rem;
  cursor: pointer;
  -webkit-transition: 0.3s border, 0.3s background;
  -o-transition: 0.3s border, 0.3s background;
  transition: 0.3s border, 0.3s background;
}

.button::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-mask-image: url(../img/button-arrow-icon.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
}

.button:disabled {
  cursor: not-allowed;
}

.button--large {
  gap: 1.2rem;
  padding: 2.4rem 3.2rem;
}

.button--medium {
  gap: 1.2rem;
  padding: 1.9rem 3.2rem;
}

.button--medium::after {
  width: 1.6rem;
  height: 1.6rem;
}

.button--small {
  gap: 0.8rem;
  padding: 1.2rem 1.6rem;
}

.button--small::after {
  width: 1.6rem;
  height: 1.6rem;
}

.button--outline {
  background-color: transparent;
  border: 0.1rem solid #FF6E00;
}

.button--outline > span {
  color: #ffffff;
}

.button--outline::after {
  background-color: #FF6E00;
}

.button--outline:hover {
  border-color: #ffffff;
}

.button--outline:disabled {
  border-color: rgba(239, 239, 239, 0.1);
}

.button--outline:disabled > span {
  color: rgba(239, 239, 239, 0.5);
}

.button--outline:disabled::after {
  background-color: rgba(239, 239, 239, 0.5);
}

.button--outline-dark {
  background-color: transparent;
  border: 0.1rem solid #000000;
}

.button--outline-dark > span {
  color: #000000;
}

.button--outline-dark::after {
  background-color: #ffffff;
}

.button--outline-dark:hover {
  border-color: #ffffff;
}

.button--outline-dark:disabled {
  border-color: rgba(0, 0, 0, 0.2);
}

.button--outline-dark:disabled > span {
  color: rgba(0, 0, 0, 0.5);
}

.button--outline-dark:disabled::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.button--outline-light {
  background-color: transparent;
  border: 0.1rem solid #FF6E00;
}

.button--outline-light > span {
  color: #000000;
}

.button--outline-light::after {
  background-color: #FF6E00;
}

.button--outline-light:hover {
  border-color: #000000;
}

.button--outline-light:disabled {
  border-color: rgba(0, 0, 0, 0.1);
}

.button--outline-light:disabled > span {
  color: rgba(0, 0, 0, 0.5);
}

.button--outline-light:disabled::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.button--fill {
  border: none;
  background-color: #FF6E00;
}

.button--fill > span {
  color: #000000;
}

.button--fill::after {
  background-color: #000000;
}

.button--fill:hover {
  background-color: #ffffff;
}

.button--fill:disabled {
  background-color: rgba(0, 0, 0, 0.1);
}

.link-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.link-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 0.1rem;
  width: 100%;
  background-color: #FF6E00;
  z-index: 1;
}

.link-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 0.1rem;
  width: 0%;
  background-color: #ffffff;
  -webkit-transition: 0.3s width;
  -o-transition: 0.3s width;
  transition: 0.3s width;
  z-index: 2;
}

.link-button > span {
  display: inline-block;
}

.link-button:hover::after {
  width: 100%;
}

.link-button--disabled {
  pointer-events: none;
}

.link-button--disabled > span {
  color: rgba(239, 239, 239, 0.5);
}

.link-button--disabled::before {
  background-color: rgba(239, 239, 239, 0.5);
}

.link-button--dark > span {
  color: #000000;
}

.link-button--dark::before {
  background-color: #ffffff;
}

.link-button--dark::after {
  background-color: #000000;
}

.link-button--dark.link-button--disabled > span {
  color: rgba(0, 0, 0, 0.5);
}

.link-button--dark.link-button--disabled::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.link-button--light > span {
  color: #000000;
}

.link-button--light::after {
  background-color: #000000;
}

.link-button--light.link-button--disabled > span {
  color: rgba(0, 0, 0, 0.5);
}

.link-button--light.link-button--disabled::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.8rem;
}

.input-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.input-item__top > label {
  color: rgba(239, 239, 239, 0.4);
}

.input-item > input,
.input-item > textarea {
  width: 100%;
  color: rgba(239, 239, 239, 0.8);
  padding: 1.4rem 1.6rem 1.3rem;
  border-radius: 0.4rem;
  background-color: #202020;
  resize: none;
  border: none;
  border-bottom: 0.1rem solid #202020;
  border-radius: 0.4rem;
  -webkit-transition: 0.3s border, 0.3s color;
  -o-transition: 0.3s border, 0.3s color;
  transition: 0.3s border, 0.3s color;
}

.input-item > input::-webkit-input-placeholder, .input-item > textarea::-webkit-input-placeholder {
  color: rgba(239, 239, 239, 0.8);
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.input-item > input::-moz-placeholder, .input-item > textarea::-moz-placeholder {
  color: rgba(239, 239, 239, 0.8);
  -moz-transition: 0.3s color;
  transition: 0.3s color;
}

.input-item > input:-ms-input-placeholder, .input-item > textarea:-ms-input-placeholder {
  color: rgba(239, 239, 239, 0.8);
  -ms-transition: 0.3s color;
  transition: 0.3s color;
}

.input-item > input::-ms-input-placeholder, .input-item > textarea::-ms-input-placeholder {
  color: rgba(239, 239, 239, 0.8);
  -ms-transition: 0.3s color;
  transition: 0.3s color;
}

.input-item > input::placeholder,
.input-item > textarea::placeholder {
  color: rgba(239, 239, 239, 0.8);
  -webkit-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
}

.input-item > input:focus,
.input-item > textarea:focus {
  border-bottom: 0.1rem solid #FF6E00;
}

.input-item--error > input,
.input-item--error > textarea {
  color: #E03131;
}

.input-item--error > input::-webkit-input-placeholder, .input-item--error > textarea::-webkit-input-placeholder {
  color: #E03131;
}

.input-item--error > input::-moz-placeholder, .input-item--error > textarea::-moz-placeholder {
  color: #E03131;
}

.input-item--error > input:-ms-input-placeholder, .input-item--error > textarea:-ms-input-placeholder {
  color: #E03131;
}

.input-item--error > input::-ms-input-placeholder, .input-item--error > textarea::-ms-input-placeholder {
  color: #E03131;
}

.input-item--error > input::placeholder,
.input-item--error > textarea::placeholder {
  color: #E03131;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid #FF6E00;
  border-radius: 5.2rem;
  overflow: hidden;
}

.tabs__item > input {
  display: none;
}

.tabs__item > input:checked + label {
  padding: 0.8rem;
  background-color: #FF6E00;
}

.tabs__item > input:checked + label > .tabs__value {
  display: inline-block;
}

.tabs__item > input:checked + label > .tabs__icon {
  background-color: #000000;
}

.tabs__item:hover .tabs__icon {
  background-color: #ffffff;
}

.tabs__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  -webkit-transition: 0.3s background, 0.3s padding;
  -o-transition: 0.3s background, 0.3s padding;
  transition: 0.3s background, 0.3s padding;
}

.tabs__icon {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: #FF6E00;
  -webkit-transition: 0.3s background;
  -o-transition: 0.3s background;
  transition: 0.3s background;
}

.tabs__icon--whatsapp {
  -webkit-mask-image: url(../img/whatsapp-icon.svg);
}

.tabs__icon--telegram {
  -webkit-mask-image: url(../img/telegram-icon.svg);
}

.tabs__icon--phone {
  -webkit-mask-image: url(../img/phone-icon.svg);
}

.tabs__value {
  display: none;
  color: #000000;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 4.8rem 0;
  z-index: 999;
  -webkit-transition: 0.5s background, 0.3s padding;
  -o-transition: 0.5s background, 0.3s padding;
  transition: 0.5s background, 0.3s padding;
}

header.appear {
  padding: 1.6rem 0;
  background-color: #000000;
}

header.appear .header-logo {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s opacity, 0s visibility 0s;
  -o-transition: 0.5s opacity, 0s visibility 0s;
  transition: 0.5s opacity, 0s visibility 0s;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
  margin-left: auto;
}

.header-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-burger__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3rem;
  width: 2.4rem;
  height: 2.4rem;
}

.header-burger__icon > span {
  display: inline-block;
  width: 1.8rem;
  height: 0.2rem;
  background-color: #FF6E00;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.header-burger__icon:hover > span:nth-child(1) {
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.header-burger__icon:hover > span:nth-child(3) {
  -webkit-transform: translateY(0.3rem);
      -ms-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
}

.header__language {
  margin-left: 6rem;
}

.header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  width: 16.8rem;
  margin: 0 auto;
  -webkit-transition: 0.5s opacity, 0s visibility 0.5s;
  -o-transition: 0.5s opacity, 0s visibility 0.5s;
  transition: 0.5s opacity, 0s visibility 0.5s;
}

.header-logo > svg {
  width: 100%;
}

.header-logo__mobile {
  display: none;
}

.header-logo:hover .header-logo__left {
  -webkit-animation: leftStone 1s ease-in-out alternate;
          animation: leftStone 1s ease-in-out alternate;
}

.header-logo:hover .header-logo__right {
  -webkit-animation: rightStone 1s ease-in-out alternate;
          animation: rightStone 1s ease-in-out alternate;
}

.header-logo:hover .header-logo__top {
  -webkit-animation: topStone 1s ease-in-out alternate;
          animation: topStone 1s ease-in-out alternate;
}

@keyframes leftStone {
  from {
    opacity: 0;
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes rightStone {
  from {
    opacity: 0;
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes topStone {
  from {
    opacity: 0;
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.banner {
  position: relative;
  background-image: url(../img/hero-bg-mainpage.png);
  background-size: 150rem 110rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: 0.5s background;
  -o-transition: 0.5s background;
  transition: 0.5s background;
}

.banner[data-animation="2"] {
  background-size: 172.5rem 126.5rem;
}

.banner[data-animation="2"] .banner__title {
  width: 216rem;
}

.banner[data-animation="3"] {
  background-size: 198.375rem 145.475rem;
}

.banner[data-animation="3"] .banner__scroll {
  opacity: 0;
  -webkit-transform: translate(-50%, 10rem);
      -ms-transform: translate(-50%, 10rem);
          transform: translate(-50%, 10rem);
  -webkit-transition: 0.5s opacity, 0s visibility 0.5s, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0s visibility 0.5s, 0.5s -webkit-transform;
  -o-transition: 0.5s transform, 0.5s opacity, 0s visibility 0.5s;
  transition: 0.5s transform, 0.5s opacity, 0s visibility 0.5s;
  transition: 0.5s transform, 0.5s opacity, 0s visibility 0.5s, 0.5s -webkit-transform;
}

.banner[data-animation="4"]::before {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s opacity 0s visibility 0.5s;
  -o-transition: 0.5s opacity 0s visibility 0.5s;
  transition: 0.5s opacity 0s visibility 0.5s;
}

.banner[data-animation="4"] .banner__scroll {
  opacity: 0;
  -webkit-transform: translate(-50%, 10rem);
      -ms-transform: translate(-50%, 10rem);
          transform: translate(-50%, 10rem);
  -webkit-transition: 0.5s opacity, 0s visibility 0.5s, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0s visibility 0.5s, 0.5s -webkit-transform;
  -o-transition: 0.5s transform, 0.5s opacity, 0s visibility 0.5s;
  transition: 0.5s transform, 0.5s opacity, 0s visibility 0.5s;
  transition: 0.5s transform, 0.5s opacity, 0s visibility 0.5s, 0.5s -webkit-transform;
}

.banner__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100svh;
}

.banner__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__logo {
  width: 3.5rem;
}

.banner__title {
  width: 132rem;
  padding: 4.8rem 0;
  -webkit-transition: 0.5s width;
  -o-transition: 0.5s width;
  transition: 0.5s width;
}

.banner__subtitle {
  width: 11.9rem;
}

.banner__scroll {
  position: fixed;
  width: 6.4rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 6.4rem;
  -webkit-transition: 0.5s opacity, 0s visibility, 0.5s -webkit-transform;
  transition: 0.5s opacity, 0s visibility, 0.5s -webkit-transform;
  -o-transition: 0.5s transform, 0.5s opacity, 0s visibility;
  transition: 0.5s transform, 0.5s opacity, 0s visibility;
  transition: 0.5s transform, 0.5s opacity, 0s visibility, 0.5s -webkit-transform;
}

.banner__scroll .creeping {
  -webkit-animation: mouseAnimation 1s infinite ease-in-out alternate;
          animation: mouseAnimation 1s infinite ease-in-out alternate;
}

@-webkit-keyframes mouseAnimation {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }

  to {
    -webkit-transform: translateY(1.2rem);
            transform: translateY(1.2rem);
  }
}

@keyframes mouseAnimation {
  from {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }

  to {
    -webkit-transform: translateY(1.2rem);
            transform: translateY(1.2rem);
  }
}

.banner__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100svh;
}

.banner__bottom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(transparent), to(transparent));
  background: -o-linear-gradient(bottom, #000000, transparent, transparent);
  background: linear-gradient(to top, #000000, transparent, transparent);
}

.banner__h1 {
  text-align: center;
  width: 84.6rem;
  max-width: 100%;
}

.banner__link {
  position: absolute;
  top: calc(100% + 6.4rem);
}

.banner__link--mobile {
  display: none;
}

.catalog {
  padding: 20rem 0 12rem;
  overflow-x: hidden;
}

.catalog__box {
  width: 109.6rem;
  max-width: 100%;
  margin: 0 auto;
}

.catalog__subtitle {
  display: inline-block;
  color: #FF6E00;
  margin-bottom: 2.4rem;
}

.catalog__title {
  margin-bottom: 6.4rem;
}

.catalog-swiper__box {
  position: relative;
  overflow: visible;
  margin-bottom: 4rem;
}

.catalog-swiper__wrapper {
  overflow: visible;
}

.catalog-swiper__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 100;
}

.catalog-swiper__button--prev {
  right: calc(100% + 3.2rem);
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.catalog-swiper__button--next {
  left: calc(100% + 3.2rem);
  right: -3.2rem;
}

.catalog-swiper__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.catalog-swiper__more {
  display: inline-block;
}

.catalog-swiper__more--mobile {
  display: none;
}

.catalog-swiper__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
  width: auto !important;
}

.catalog-swiper__pagination > .swiper-pagination-bullet {
  opacity: 1;
  width: 0.8rem !important;
  height: 0.8rem !important;
  background-color: transparent;
  border: 0.1rem solid #FF6E00;
  margin: 0 !important;
}

.catalog-swiper__pagination > .swiper-pagination-bullet-active {
  background-color: #FF6E00;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 0.4rem;
  border: 0.1rem solid rgba(239, 239, 239, 0.1);
  -webkit-transition: 0.5s border, 0.5s -webkit-box-shadow;
  transition: 0.5s border, 0.5s -webkit-box-shadow;
  -o-transition: 0.5s box-shadow, 0.5s border;
  transition: 0.5s box-shadow, 0.5s border;
  transition: 0.5s box-shadow, 0.5s border, 0.5s -webkit-box-shadow;
}

.catalog-item:hover {
  border-color: #FF6E00;
  -webkit-box-shadow: 0px 4px 100px 0px rgba(255, 110, 0, 0.5), 0px 1px 25px 0px rgba(255, 110, 0, 0.3), 0px 1px 2px 0px #ff6e00, 0px 0px 0px 1px rgba(255, 110, 0, 0.4) inset;
          box-shadow: 0px 4px 100px 0px rgba(255, 110, 0, 0.5), 0px 1px 25px 0px rgba(255, 110, 0, 0.3), 0px 1px 2px 0px #ff6e00, 0px 0px 0px 1px rgba(255, 110, 0, 0.4) inset;
}

.catalog-item__top {
  position: relative;
  height: 34.9rem;
  overflow: hidden;
}

.catalog-item__top::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(36.46%, rgba(0, 0, 0, 0)), color-stop(66.54%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0) 66.54%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 36.46%, rgba(0, 0, 0, 0) 66.54%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}

.catalog-item__bottom {
  padding: 2.4rem;
}

.catalog-item__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}

.catalog-item__new {
  position: absolute;
  left: 2.4rem;
  top: 3.6rem;
  color: #FF6E00;
  z-index: 2;
}

.catalog-item__like {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  z-index: 2;
}

.catalog-item__price {
  position: absolute;
  left: 2.4rem;
  bottom: 2.4rem;
  padding: 0.711rem 1.422rem;
  border-radius: 12.5rem;
  background-color: rgba(239, 239, 239, 0.1);
  -webkit-backdrop-filter: blur(3.556rem);
          backdrop-filter: blur(3.556rem);
  z-index: 2;
}

.catalog-item__name {
  font-size: 1.8rem;
  line-height: 144.444%;
  letter-spacing: 0.036rem;
  margin-right: -0.036rem;
}

.catalog-item__hr {
  display: block;
  width: 100%;
  height: 0.1rem;
  margin: 2.4rem 0 5.8rem;
  background-color: rgba(239, 239, 239, 0.2);
}

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2.4rem;
}

.catalog-item-info__item {
  width: calc((100% - 2.4rem) / 2);
}

.catalog-item-info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.6rem;
  margin-bottom: 0.4rem;
}

.catalog-item-info__icon {
  width: 1.6rem;
}

.catalog-item-info__name {
  color: rgba(239, 239, 239, 0.6);
}

.catalog-item-info__value > span {
  color: rgba(239, 239, 239, 0.3);
}

.feedback {
  position: relative;
  padding: 12rem 0;
  overflow: hidden;
}

.feedback::before {
  content: "";
  position: absolute;
  right: -4.6rem;
  bottom: -14.5rem;
  width: 88rem;
  height: 88rem;
  background-image: url(../img/feedback-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.feedback__box {
  position: relative;
  background-color: #000000;
  width: 109.6rem;
  max-width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.feedback__title {
  width: 97rem;
  max-width: 100%;
  margin-bottom: 6.4rem;
}

.feedback__title > span {
  color: #FF6E00;
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 4.8rem 8rem;
  height: auto;
  width: 50%;
  background-image: url(../img/workers.png);
  background-size: cover;
  background-position: center;
}

.feedback-expert__info {
  width: 100%;
  padding: 2.4rem;
  background-color: #000000;
  border-radius: 0.4rem;
}

.feedback-expert__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.6rem;
}

.feedback-expert__top::before {
  content: "";
  display: inline-block;
  width: 0.1rem;
  height: 2rem;
  background-color: #FF6E00;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.feedback-expert__top > span {
  display: inline-block;
  text-align: center;
  width: calc((100% - 1rem) / 2);
}

.feedback-expert__top > span:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feedback-expert__top > span:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.feedback-expert__bottom {
  text-align: center;
}

.feedback-expert__bottom > span {
  color: rgba(239, 239, 239, 0.6);
}

.feedback-form {
  width: 50%;
  padding: 4.8rem 6.4rem;
}

.feedback-form__subtitle {
  margin-bottom: 3.2rem;
}

.feedback-form__inputs {
  margin-bottom: 2.4rem;
}

.feedback-form__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.feedback-form__item--textarea > textarea {
  height: 17.2rem;
}

.feedback-form__submit {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.feedback-form__submit::before {
  content: "";
  position: absolute;
  top: -4rem;
  display: block;
  width: 10rem;
  height: 300%;
  margin-left: 50px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(transparent), color-stop(rgba(239, 239, 239, 0.8)), color-stop(transparent), to(transparent));
  background: -o-linear-gradient(right, transparent, transparent, rgba(239, 239, 239, 0.8), transparent, transparent);
  background: linear-gradient(to left, transparent, transparent, rgba(239, 239, 239, 0.8), transparent, transparent);
  z-index: 1;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: movingFlare 3s linear 0.1s infinite;
          animation: movingFlare 3s linear 0.1s infinite;
}

@-webkit-keyframes movingFlare {
  0% {
    left: -50%;
  }

  30% {
    left: 110%;
  }

  100% {
    left: 120%;
  }
}

@keyframes movingFlare {
  0% {
    left: -50%;
  }

  30% {
    left: 110%;
  }

  100% {
    left: 120%;
  }
}

.feedback-form__submit--mobile {
  display: none;
}

.feedback-form__hint {
  color: rgba(239, 239, 239, 0.5);
}

.feedback-form__hint > a {
  color: rgba(239, 239, 239, 0.5);
  text-decoration: underline;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}

@media screen and (max-width: 1024px) {
  body.mobile-scroll-hidden {
    overflow: hidden;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 2.5641025641vw;
  }

  .container {
    padding: 0 2.4rem;
  }

  .display-text-1 {
    font-size: 5.6rem;
    letter-spacing: 1.344rem;
    margin-right: -1.344rem;
  }

  .display-text-2 {
    font-size: 4rem;
    letter-spacing: 0.96rem;
    margin-right: -0.96rem;
  }

  .header-text-1 {
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.06rem;
    margin-right: -0.06rem;
  }

  .header-text-2 {
    font-size: 2.4rem;
    line-height: 141.667%;
    letter-spacing: 0.048rem;
    margin-right: -0.048rem;
  }

  .header-text-3 {
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: 0.04rem;
    margin-right: -0.04rem;
  }

  .header-text-4 {
    font-size: 1.8rem;
    line-height: 155.556%;
    letter-spacing: 0.036rem;
    margin-right: -0.036rem;
  }

  .header-text-5 {
    font-size: 1.8rem;
    line-height: 133.333%;
    letter-spacing: 0.036rem;
    margin-right: -0.036rem;
  }

  .subtitle-text-1 {
    font-size: 1.8rem;
    line-height: 144.444%;
    letter-spacing: 0.036rem;
    margin-right: -0.036rem;
  }

  .subtitle-text-2 {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.032rem;
    margin-right: -0.032rem;
  }

  .body-text-1 {
    font-size: 1.8rem;
    line-height: 144.444%;
    letter-spacing: 0.036rem;
    margin-right: -0.036rem;
  }

  .input-item > input::-webkit-input-placeholder, .input-item > textarea::-webkit-input-placeholder {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.032rem;
    margin-right: -0.032rem;
  }

  .input-item > input::-moz-placeholder, .input-item > textarea::-moz-placeholder {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.032rem;
    margin-right: -0.032rem;
  }

  .input-item > input:-ms-input-placeholder, .input-item > textarea:-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.032rem;
    margin-right: -0.032rem;
  }

  .input-item > input::-ms-input-placeholder, .input-item > textarea::-ms-input-placeholder {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.032rem;
    margin-right: -0.032rem;
  }

  .body-text-2,
  .input-item > input::placeholder,
  .input-item > textarea::placeholder,
  .input-item > input,
  .input-item > textarea {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.032rem;
    margin-right: -0.032rem;
  }

  .body-text-3 {
    font-size: 1.4rem;
    line-height: 142.857%;
    letter-spacing: 0.028rem;
    margin-right: -0.028rem;
  }

  .body-text-4 {
    font-size: 1.4rem;
    line-height: 142.857%;
    letter-spacing: 0.028rem;
    margin-right: -0.028rem;
  }

  .body-text-5 {
    font-size: 1.2rem;
    line-height: 133.333%;
    letter-spacing: 0.024rem;
    margin-right: -0.024rem;
  }

  .overline-text-2 {
    font-size: 1.2rem;
    line-height: 133.333%;
    letter-spacing: 0.12rem;
    margin-right: -0.12rem;
  }

  .overline-text-3,
  .input-item__top > label,
  .nav-button__value > span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0.1rem;
    margin-right: -0.1rem;
  }

  .condensed-text-2 {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.064rem;
    margin-right: -0.064rem;
  }

  .condensed-text-4 {
    font-size: 1.2rem;
    line-height: 133.333%;
    letter-spacing: 0.12rem;
    margin-right: -0.12rem;
  }

  .input-item__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.8rem;
  }

  .input-item > input,
  .input-item > textarea {
    padding: 1rem 1.6rem 0.9rem;
  }

  header {
    padding: 1.2rem 0;
    background-color: #000000;
  }

  .header__container {
    padding: 0 1.6rem;
  }

  .header__links {
    gap: 0.8rem;
  }

  .header__links > .nav-button:nth-child(1) {
    display: none;
  }

  .header-burger__label {
    display: none;
  }

  .header__language {
    display: none;
  }

  .header-logo {
    position: static;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
    opacity: 1;
    visibility: visible;
    width: 17.571rem;
    margin-left: 0.8rem;
    margin-right: auto;
  }

  .header-logo__desktop {
    display: none;
  }

  .header-logo__mobile {
    display: block;
  }

  .banner {
    background-position: top;
    background-size: 76.8rem 52.8rem;
  }

  .banner::before {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(transparent), to(transparent));
    background: -o-linear-gradient(bottom, #000000, transparent, transparent);
    background: linear-gradient(to top, #000000, transparent, transparent);
    -webkit-transition: 0.5s opacity 0s visibility;
    -o-transition: 0.5s opacity 0s visibility;
    transition: 0.5s opacity 0s visibility;
    z-index: 0;
  }

  .banner[data-animation="2"] {
    background-size: 76.8rem 52.8rem;
  }

  .banner[data-animation="2"] .banner__title {
    width: 57.6rem;
  }

  .banner[data-animation="3"] {
    background-size: 102.4rem 70.4rem;
  }

  .banner__title {
    width: 34.2rem;
  }

  .banner__bottom::before {
    display: none;
  }

  .banner__h1 {
    width: 29.5rem;
    margin-bottom: 6.4rem;
  }

  .banner__link--mobile {
    position: relative;
    top: auto;
    display: inline-block;
  }

  .banner__link--desktop {
    display: none;
  }

  .catalog {
    padding: 8rem 0;
  }

  .catalog__title {
    margin-bottom: 4.8rem;
  }

  .catalog-swiper__button {
    display: none;
  }

  .catalog-swiper__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .catalog-swiper__more--mobile {
    display: inline-block;
  }

  .catalog-swiper__more--desktop {
    display: none;
  }

  .catalog-swiper__pagination {
    margin-bottom: 3.2rem;
  }

  .catalog-item__top {
    height: 28rem;
  }

  .catalog-item-info__name {
    font-size: 0.8rem;
    line-height: 125%;
    letter-spacing: 0.08rem;
  }

  .feedback {
    padding: 8rem 0;
  }

  .feedback::before {
    width: 57.6rem;
    height: 57.6rem;
    left: 2.4rem;
    right: auto;
  }

  .feedback__title {
    margin-bottom: 4.8rem;
  }

  .feedback__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback-expert {
    width: 100%;
    height: 48rem;
    padding: 2.4rem;
  }

  .feedback-expert__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.6rem 2.4rem;
  }

  .feedback-expert__top {
    width: 100%;
  }

  .feedback-expert__bottom {
    width: 19rem;
    max-width: 100%;
  }

  .feedback-form {
    width: 100%;
    padding: 4rem 2.4rem;
  }

  .feedback-form__submit--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .feedback-form__submit--desktop {
    display: none;
  }
}

@media screen and (max-width: 568px) and (max-width: 568px) {
  .header__links > .nav-button {
    width: 4rem;
    height: 4rem;
  }

  .header__links > .nav-button > .nav-button__value {
    width: 1.6rem;
    height: 1.6rem;
  }
}